.header{
  width: 100%;
  background-color: #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header img{
  display: grid;  
  padding-top: 0.5rem;
  margin: 0 auto;
}
.menu{
  /* width: 100%; */
  /* height: 52px; */
  background-color: #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 2px;
  text-align: center;
  padding: 0.5rem;
}
.menu a{
  padding: 0.5rem;
}
.menu a:hover{
  text-decoration: underline;
}
